<?xml version='1.0' encoding='utf-8'?>
<plugin id="com-baishijiaju-cordova-voice" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>xf Voice</name>
    <description>Cordova xf Voice Plugin</description>
    <keywords>cordova,xfyun,voice</keywords>
    <author>Ou Jun</author>
    <license>MIT License</license>
    <repo>https://github.com/MicahStudio/cordova-plugin-xfyunvoice.git</repo>

    <preference name="APPID" />
    <js-module name="voice" src="www/voice.js">
        <clobbers target="voice" />
    </js-module>
	<!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Voice" >
                <param name="android-package" value="com.baishijiaju.cordova.Voice"/>
                <param name="onload" value="true" />
            </feature>    
            <preference name="APPID" value="$APPID"/>        
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <!-- Required  一些系统要求的权限，如访问网络等-->            
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.READ_CONTACTS" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WRITE_SETTINGS" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </config-file>
        <source-file src="src/android/Voice.java" target-dir="src/com/baishijiaju/cordova" />
        
        <source-file src="src/android/libs/arm64-v8a/libmsc.so" target-dir="libs/arm64-v8a"/>
        <source-file src="src/android/libs/armeabi/libmsc.so" target-dir="libs/armeabi"/>
        <source-file src="src/android/libs/armeabi-v7a/libmsc.so" target-dir="libs/armeabi-v7a"/>
        <source-file src="src/android/libs/x86/libmsc.so" target-dir="libs/x86"/>
        <source-file src="src/android/libs/x86_64/libmsc.so" target-dir="libs/x86_64"/>

        <source-file src="src/android/libs/Msc.jar" target-dir="libs"/>
        <source-file src="src/android/libs/Sunflower.jar" target-dir="libs"/>

        <source-file src="src/android/assets/iflytek/recognize.xml" target-dir="assets/iflytek"/>
        <source-file src="src/android/assets/iflytek/voice_bg.9.png" target-dir="assets/iflytek"/>
        <source-file src="src/android/assets/iflytek/voice_empty.png" target-dir="assets/iflytek"/>
        <source-file src="src/android/assets/iflytek/voice_full.png" target-dir="assets/iflytek"/>
        <source-file src="src/android/assets/iflytek/waiting.png" target-dir="assets/iflytek"/>
        <source-file src="src/android/assets/iflytek/warning.png" target-dir="assets/iflytek"/> 

        <framework src="com.android.support:support-v4:23.+" />
    </platform> 
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Voice">
                <param name="ios-package" value="CDVvOICE"/>
                <param name="onload" value="true" />
            </feature>
            <preference name="APPID" value="$APPID"/>
        </config-file>

        <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
            <array>
                <string>voice</string>
                <string>voice</string>
            </array>
        </config-file>

        <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
            <dict>
                <key>NSAllowsArbitraryLoads</key>
                <true/>
            </dict>
        </config-file>
        

        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleURLName</key>
                    <string>voice</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>$APPID</string>
                    </array>
                </dict>
            </array>
        </config-file>

        <!-- Plugin source code -->
        <header-file src="src/ios/CDVVoice.h" />
        <source-file src="src/ios/CDVVoice.m" />

        <!-- Wechat Official -->
        <header-file src="src/ios/lib/iflyMSC.framework/Headers/IFlyAudioSession.h" />
        <header-file src="src/ios/lib/iflyMSC.framework/Headers/IFlyContact.h" />
        <header-file src="src/ios/lib/iflyMSC.framework/Headers/IFlyDataUploader.h" />
        <header-file src="src/ios/lib/iflyMSC.framework/Headers/IFlyDebugLog.h" />
        <header-file src="src/ios/lib/iflyMSC.framework/Headers/IFlyISVDelegate.h" />
        <header-file src="src/ios/lib/iflyMSC.framework/Headers/IFlyISVRecognizer.h" />
        <header-file src="src/ios/lib/iflyMSC.framework/Headers/IFlyMSC.h" />
        <header-file src="src/ios/lib/iflyMSC.framework/Headers/IFlyPcmRecorder.h" />
        <header-file src="src/ios/lib/iflyMSC.framework/Headers/IFlyRecognizerView.h" />
        <header-file src="src/ios/lib/iflyMSC.framework/Headers/IFlyRecognizerViewDelegate.h" />
        <header-file src="src/ios/lib/iflyMSC.framework/Headers/IFlyResourceUtil.h" />
        <header-file src="src/ios/lib/iflyMSC.framework/Headers/IFlySetting.h" />
        <header-file src="src/ios/lib/iflyMSC.framework/Headers/IFlySpeechConstant.h" />
        <header-file src="src/ios/lib/iflyMSC.framework/Headers/IFlySpeechError.h" />
        <header-file src="src/ios/lib/iflyMSC.framework/Headers/IFlySpeechEvaluator.h" />
        <header-file src="src/ios/lib/iflyMSC.framework/Headers/IFlySpeechEvaluatorDelegate.h" />
        <header-file src="src/ios/lib/iflyMSC.framework/Headers/IFlySpeechEvent.h" />
        <header-file src="src/ios/lib/iflyMSC.framework/Headers/IFlySpeechRecognizer.h" />
        <header-file src="src/ios/lib/iflyMSC.framework/Headers/IFlySpeechRecognizerDelegate.h" />
        <header-file src="src/ios/lib/iflyMSC.framework/Headers/IFlySpeechSynthesizer.h" />
        <header-file src="src/ios/lib/iflyMSC.framework/Headers/IFlySpeechSynthesizerDelegate.h" />
        <header-file src="src/ios/lib/iflyMSC.framework/Headers/IFlySpeechUnderstander.h" />
        <header-file src="src/ios/lib/iflyMSC.framework/Headers/IFlySpeechUtility.h" />
        <header-file src="src/ios/lib/iflyMSC.framework/Headers/IFlyTextUnderstander.h" />
        <header-file src="src/ios/lib/iflyMSC.framework/Headers/IFlyUserWords.h" />
        <header-file src="src/ios/lib/iflyMSC.framework/Headers/IFlyVoiceWakeuper.h" />
        <header-file src="src/ios/lib/iflyMSC.framework/Headers/IFlyVoiceWakeuperDelegate.h" />
        <source-file src="src/ios/lib/iflyMSC.framework/iflyMSC" />

        <!-- Other required frameworks -->
        <!-- <framework src="iflyMSC.framework" />
        <framework src="libz.tbd" />
        <framework src="libsqlite3.0.tbd" />
        <framework src="CoreTelephony.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="Security.framework" />
        <framework src="CFNetwork.framework" />
        <framework src="libstdc++.6.tbd" /> -->


        <framework src="iflyMSC.framework" />
        <framework src="libz.tbd" />
        <framework src="CoreLocation.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="AVFoundation.framework" />
        <framework src="AddressBook.framework" />
        <framework src="AudioToolbox.framework" />
        <framework src="Contacts.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="UIKit.framework" />
        <framework src="Foundation.framework" />
        <framework src="CoreGraphics.framework" />
    </platform>
</plugin>
